:root{
    
}

.light-mode{
    background-color: azure;
    color: black;
    text-decoration-line: none
}


header, main, footer{
    size: 20px;
}

nav a{
    font-weight: bold;
    margin: 0 1em;
}

nav a:hover{
    color: chartreuse;
    transform: scale(1.2);
}


body{
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    line-height: 1.6;
    background-color: rgb(34, 34, 34);
    gap: 1em;
    color: whitesmoke;
}

#about{
    max-width: 1440px;
    background-color: rgb(16, 16, 16);
    margin: 0 auto;
}

#about p1{
}




a{
    color: rgb(69, 193, 255);
}


